
// fuentes
%font-nav {
    font-family: $ibmplexmono;
    line-height: 28px;
    font-size: 16px;
}

%font-p {
    font-family: $ibmplexmono;
    font-size: 14px;
    line-height: 22px;
    margin-left: $margin-left;
    width: 90%;
    color: $oscuro;
}

%font-h{
    font-family: $ibmplexsans;
    font-size: 36px;
    font-weight: 400;
    margin-left: $margin-left;
    line-height: 42px;
    width: 90%;
}

%font-h3{
    font-family: $ibmplexsans;
    font-size: 24px;
    font-weight: 600;
    margin-left: $margin-left;
    line-height: 32px;
    width: 90%;
    color: $oscuro;
    text-align: center;
    font-weight: 600;

}

%font-icon {
    font-family: $ibmplexsans;
    font-weight: 600;
    font-size: 24px;
}

// Fondo con diagonal

%background {
    background: rgb(0,0,255);
    background: linear-gradient(225deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
    clip-path: polygon(0 2.8%, 100% 0, 100% 97.2%, 0% 100%);
 }
