/*Fuentes*/
@font-face {
    font-family: ibmPlexSans;
    src: url(Recursos/Fonts/IBMPlexSans-Light.ttf);
}

@font-face {
    font-family: IBMPlexMono-medium ;
    src: url(Recursos/Fonts/IBMPlexMono-Medium.ttf);
}
/*General*/
* {
    text-decoration: none;
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
    scroll-behavior: smooth;
 }