.section-6 {
    @extend %background;
    height: 341px;
    margin-top: 42px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    
    h2 {
        padding-top: 64px;
        @extend %font-h;
        color: $claro;
        text-align: center;
        margin-bottom: 36px;       
    }
   
 }

 .button{
    text-align: center;
    display: block;
    @include button(13px 43px);
    margin-right: 5%;
    }
 
    //  media querys desktop version 

@include desktop {
    .section-6{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 518px;
        clip-path: polygon(0 22.8%, 100% 0, 100% 100%, 0% 100%);
        h2 {
            font-size: 48px;
            line-height: 62px;
        }
        a {
            margin-left: $margin-desktop;
            width: 345px;
            height: 56px;
            line-height: 24px;
            font-size: 18px;
            padding: 16px 59px;
        }
    }

}