.section-5 > h2 {
      @extend %font-h;
      margin-top: 48px;
      margin-bottom: 37px;
      color: $oscuro;
}

.iconos-container {
      margin: 24px 0px 0px 0px ;
      display: flex;
      flex-direction: column;
      align-items: center;
      .iconos {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;    
      }
    h3 {
      margin-top: 13px;
      @extend %font-h3;
      margin-bottom: 36px; 
    }

}

//  media querys desktop version 

@include desktop {
      .section-5 {
            width: 100%;
      h2 {
            font-size:48px;
            line-height: 62px;
            margin-left: $margin-desktop;
            margin-top: 64px;
      }
      .iconos-container {
            width: 80%;
            display: flex;
            flex-direction:row ;
            margin-left: $margin-desktop;
            .iconos {
                  width: 260px;
                  }
            }
      } 
}
