/*section-1 */
.section-1 {
    h1 {
    @extend %font-h;
    width: 80%;
    margin-top: 29px;
    color: $oscuro;
     }

    #world {
        text-decoration-line: line-through;
        margin-left: 10px;
    }

    #dot {
        color: $oscuro;
    }
    #p-desktop {
        display: none;
    }
}

/*maintext*/

.section-1 > p {
    @extend %font-p;
    margin-top: 16px;
    margin-bottom: 49px;
}

/*boton*/
.button{
    text-align: center;
    display: block;
    @include button(13px 96px);
    margin-right: 5%;
    }

    // Media Query Desktop 

@include desktop{
    .section-1{
        h1{ 
            margin-top: 120px;
            font-size: 64px;
            line-height: 84px;
            
        }
        #p-desktop {
            display: inline;
        }
        #p-mobile {
            display: none;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            width: 628px;
        }
        #dot{
            color:  #0000EC;
        }
        a{
            
            width: 226px;
            height: 56px;
            line-height: 24px;
            font-size: 18px;
            padding: 16px 59px;
        }
    }
}