// fuentes

$ibmplexmono: 'IBM Plex Mono', monospace;
$ibmplexsans: 'IBM Plex Sans', sans-serif;

// colores
$claro: #FFFFFF;
$oscuro :#060A24;

// border
$border : 1px solid black;

// margin
$margin-left: 5%;

// margin-desktop
$margin-desktop: 13.9%;